.body {
  font-family: sans-serif;
}
.headerMenu li {
  list-style-type: none;
  font-size: 20px;
  display: inline-block;
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 25px;
  font-weight: 600;
  color: darkcyan;
}
.header h1 {
  color: firebrick;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background: cornsilk;
}
.card {
  height: 250px;
  width: 250px;
  flex-basis: 25%;
  margin-top: 10px;
}

.card div {
  margin-left: 10px;
}

.card p {
  font-size: 12px;
  color: gray;
  margin: 10px;
  padding: 0 !important;
}
.card p span {
  font-size: 12px;
  color: gray;
  margin: 10px;
}
.starContainer::before {
  content: "★ 4.0";
  background: #48c479;
  color: white;
  padding: 4px;
}
.restaurantContainer {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  padding: 10px 0px;
  text-align: center;
  background: cornflowerblue;
  color: white;
}
