.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}
.searchInput {
  padding: 10px;
  margin-right: 10px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: oblique;
}
button {
  background: rgb(55, 177, 217);
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  border: none;
}
input.searchInput :focus-visible {
  place-content: "";
  border: 1px solid chartreuse;
  width: 200px;
}
