.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #97d1e6;
}

.headerMenu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
  padding-left: 0px;
}
.headerMenu li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px lightgray;
  font-style: italic;
}
.header h1 {
  color: black;
  font-style: oblique;
}
.header img {
  flex: 0 1 120px;
  padding: 5px;
}
.header span {
  justify-content: center;
  display: flex;
  flex: 3;
  font-size: auto;
}
